$bg-color: #FFF;
$g-font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
$g-bordercolor: #dcdee1;
$g-clickable: #333;
$g-max-width: 12.8rem;
$g-font-size: .28rem;
$g-zindex-seed-normal: 1;
$g-zindex-seed-loading: 100;
$g-zindex-seed-mask: 500;
$g-zindex-seed-special: 1000;
